@using Web.PL.Models;

@{
    string name = null;
    DateTime birth = DateTime.Now;
    if (IsPost)
    {
        name = Request["name"];
        birth = DateTime.Parse(Request["birth"]);
        if (StaticPL.Add_User(name, birth) == true)
        {
            Response.Redirect("/Pages/Index");
        }
        else
        {
            <div>У вас недостаточно прав для этой возможности</div>
        }


    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value=@name>
        </div>
        <div>
            <label for="birth">Birth:</label>
            <input type="text" name="birth" value="">
        </div>
        <button>Send</button>
    </form>
</body>
</html>
