@using Web.PL.Models;
@using System.Web.Mvc;

@{
    string name = null;
    DateTime birth = DateTime.Now;
    string pass = null;
    string path = null;
    if (IsPost)
    {
        name = Request["name"];
        birth = DateTime.Parse(Request["birth"]);
        pass = Request["creatpass"];
        path = Request["image"];
        if (StaticPL.Add_User(name, birth, pass, path) == true)
        {
            Response.Redirect("/Pages/Index");
        }

    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" value=@name>
        </div>
        <div>
            <label for="birth">Birth:</label>
            <input type="text" name="birth" value="">
        </div>
        <div>
            <label for="createpass">Create your pass:</label>
            <input type="text" name="creatpass" value="" />
        </div>
        <div>
            <label for="image">Image:</label>
                   <input type="text" name="image" value="" />
        </div>
        <button>Send</button>
    </form>
</body>
</html>
