@using Web.PL.Models;
@{
    int ID;
    if (IsPost)
    {
        ID = int.Parse(Request["ID"]);
        StaticPL.Delet_User(ID);
        Response.Redirect("/pages/Index");

    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post">
            <input type="text" name="ID" />
            <button>Send</button>
        </form>
    </div>
</body>
</html>
