<html lang="ru">
<head>
    <link href="~/Pages/Style.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
    <body>
            <img src="~/Pages/Arts/4.jpg" alt="User img" class="img-thumbnail" id="PIC">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="collapse navbar-collapse" id="navbarText">
                      <ul class="navbar-nav mr-auto" id="MyNavBar">
                        <li class="nav-item active">
                          <a class="nav-link" href="#">My page <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="Galery">Gallery</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="Rica's favorite">Favorite</a>
                        </li>
                      </ul>
                      <button type="button" class="btn btn-primary" id="Sign_Out_Button" onclick="window.location='~/Pages/SignOut.cshtml'">Sign out</button>
                    </div>
                  </nav>
    </body>
</html>