@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Pages/Style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
    <div>
        <img src="~/Pages/files/4.jpg" class="img-fluid" id="Main_img" />
    </div>
</body>
</html>
