@using Web.PL.Models;
@{
        Layout = "~/Pages/Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 class="custom_h1">Latest updates</h1>
        @if (StaticPL.LatestUpdate().Count() == 0)
        {
            <div>This artist dosn't have any arts.</div>
        }
        else
        {
            foreach (var item in StaticPL.LatestUpdate())
            {
                {
                    <div class="one_art">
                        <p><a href="~/Pages/Image.cshtml?Path=@item.Art_Path"><img src="@item.Art_Path" alt="Artist's Art" class="Art"></a></p>
                        <text class="Art_Name">@item.Art_Name</text>
                        <text class="Artist"><a href="~/Pages/UserPage.cshtml?user=@item.Art_Artist">@item.Art_Artist</a></text>
                    </div>
                }

            }
        }
    </div>
</body>
</html>
